apiVersion: v1
kind: Service
metadata:
  name: openwebui
  labels:
    app: openwebui
spec:
  type: ClusterIP
  selector:
    app: openwebui
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
